@font-face {
  font-family: 'SentyMARUKO';
  src: url("./SentyMARUKO.ttf");
}

@font-face {
  font-family: 'PangMenZhengDao';
  src: url("./PangMenZhengDao.ttf");
}

@font-face {
  font-family: 'SourceHanSansCN-Bold';
  src: url("./SourceHanSansCN-Bold.otf");
}
